<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel='stylesheet' href="static/css/main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<head>
  <script src="https://kit.fontawesome.com/5a778ee770.js" crossorigin="anonymous"></script>


  <meta charset="utf-8">
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Home</title>
  {% endif %}
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark top">
  <img class="img" alt="logo" src="static/images/logo.png">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <!-- <div class="form-popup" id="myForm">
      <form  class="form-container">
        <h1>Login</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>

      <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
        </script>
    </div> -->

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('product') }}">Products</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('cart') }}">Cart</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('wishlist') }}">Wishlist</a></li>
    </ul>




  </div>
  </form>
  </div>
</nav>

<body>

  {% block content %}{% endblock %}

</body>

</html>