{% extends "base.html" %}

{% block content %}

<div class="slides-container">
  <center>
  <img class= "homeSlides" src = "/static/images/sale.jpg" alt = "sale" style = "width: 50%">
  <img class= "homeSlides" src = "/static/images/clothes.jpg" alt = "clothes" style ="width: 50%">

  <a class="prev" onclick="slideShow(-1)">&#10094;</a>
  <a class="next" onclick="slideShow(1)">&#10095;</a>
  </center>
  
  <script>
    var slideIndex = 1;
    moveSlides(slideIndex);
  
    function slideShow(n) {
      moveSlides(slideIndex += n);
    }
  
    function currentSlide(n) {
      moveSlides(slideIndex = n);
    }
  
    function moveSlides(n) {
      var slides = document.getElementsByClassName("homeSlides");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (var i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slides[slideIndex - 1].style.display = "block";
    }
    </script>
  
</div>





{% endblock %}