{% extends "base.html"%}

{% block content %}

<center>
  <h1>Login</h1>
  <form class="form-signin" action="" method="post">
    {{form.hidden_tag()}}

    <div class="">
      <input type="text" name="userName" placeholder="Username">
    </div>
    <div class="">
      <input type="text" name="password" placeholder="Password">
    </div>
    <div>
      <a href="/forgot">forgot password?</a>
    </div>

    <button type="submit" class="btn" style="background-color: darkgray;">Submit</button>
    <!-- {{form.submit()}} -->

  </form>
</center>

</div>
{% endblock %}