{% extends "base.html" %}

{% block content %}
<h1>Products</h1>

<div class="column" >
    <img src = /static/images/polo.jpg width =100px>
    <h2>Polo Shirt</h2>
    <p>Rating: 5/10</p>
    <p>Price: $100</p>
    <button> Add to Cart </button>
  </div>
  <p></p>
  <div class="column">
    <img src = /static/images/tshirt.jpg width =100px>
    <h2>T-Shirt</h2>
    <p>Rating: 10/10</p>
    <p>Price: $10</p>
    <button> Add to Cart </button>
  </div>
  <p></p>
  <div class="column">
    <img src = /static/images/clapped.jpg width =100px>
    <h2>Used Shirt</h2>
    <p>Rating: 1/10</p>
    <p>Price: $1000</p>
    <button> Add to Cart </button>
  </div>


{% endblock content %}