{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>

<div>
    <form action="" method="POST">
        <button type="submit"
                name="sorthighlow"
                value=1>
            Sort: Price: High to low
        </button>
        <button type="submit"
                name="sortlowhigh"
                value=1>
            Sort: Price: Low to high
        </button>
        <button type="submit"
                name="sortbyname"
                value=1>
            Sort: alphabetically
        </button>
    </form>
</div>

{% for item in items %}
<ul>
        
    <!-- <div class="column"> -->
        <form action="?itemname={{item.itemname}}&itemprice={{item.itemprice}}"
              method="POST"
        >
        <table>
            <tr>
            <td> <img src=/static/images/polo.jpg width=100px></td>
            <td>{{item.itemname}}</td>
        </tr>
        <tr>
            <td>${{'%0.2f'|format(item.itemprice|float)}}</td>
        </tr>
        </table>
    
            <!-- <div> -->
                <input type="text" name="quantity" placeholder="Quantity" value=1>
            <!-- </div> -->
            <button
                type="submit"
                name="addtocart"
                value=2
                class = "btn"
                style = "background-color: gray;"
            >
                Add to Cart
            </button>
            <button
                type="submit"
                name="addtowishlist"
                value=1
                class = "btn"
                style = "background-color: gray;"
            >
                Add to Wish List
            </button>
        
        </form>
    <!-- </div> -->

</ul>
{% endfor %}

<!-- <h2>Hardcoded Section:</h2>
<div class="column" >
    <img src = /static/images/polo.jpg width =100px>
    <h2>Polo Shirt</h2>
    <p>Rating: 5/10</p>
    <p>Price: $100</p>
    <button> Add to Cart </button>
  </div>
  <p></p>
  <div class="column">
    <img src = /static/images/tshirt.jpg width =100px>
    <h2>T-Shirt</h2>
    <p>Rating: 10/10</p>
    <p>Price: $10</p>
    <button> Add to Cart </button>
  </div>
  <p></p>
  <div class="column">
    <img src = /static/images/clapped.jpg width =100px>
    <h2>Used Shirt</h2>
    <p>Rating: 1/10</p>
    <p>Price: $1000</p>
    <button> Add to Cart </button>
  </div> -->

{% endblock content %}