{% extends "base.html" %}

{% block content %}
<center>
  <h1>{{title}}</h1>
</center>

  <form action="" method="POST" id="sort">
    Sort By:
    <select id="sortselection" name="dropdown" class="form-control" style="width:200px;">
      <option value="highlow">Price: High to low</option>
      <option value="lowhigh">Price: Low to high</option>
      <option value="alphabet">Alphabetically</option>
      <option value="bycategory">Category</option>
    </select>
    <input type="submit" value="Submit" class="btn" style="background-color: gray;">
  </form>


  {% for item in items %}
  <ul>

    <!-- <div class="column"> -->
    <form action="?itemname={{item.itemname}}&itemprice={{item.itemprice}}&category={{item.category}}&itemimage={{item.image}}" method="POST">
      <table>
        <tr>
          <td><img src={{item.image}} width=100px></td>
        </tr>
        <tr>
          <td>{{item.itemname}}</td>
        </tr>
        <tr>
          <td>${{'%0.2f'|format(item.itemprice|float)}}</td>
        </tr>
        <tr>
          <td><label>Size: S/M/L</label><input type="text" name="itemsize" placeholder="Size" value="M" maxlength="1" style="text-transform:uppercase"></td>
        </tr>
      </table>

      <!-- <div> -->
      <label>Quantity: <input type="number" name="quantity" placeholder="Quantity" value=1 min="1"></label>
      <!-- </div> -->
      <button type="submit" name="addtocart" value=2 class="btn" style="background-color: gray;">
        Add to Cart
      </button>
      <button type="submit" name="addtowishlist" value=1 class="btn" style="background-color: gray;">
        Add to Wish List
      </button>

    </form>
    <!-- </div> -->

  </ul>
  {% endfor %}

  <!-- <h2>Hardcoded Section:</h2>
<div class="column" >
    <img src = /static/images/polo.jpg width =100px>
    <h2>Polo Shirt</h2>
    <p>Rating: 5/10</p>
    <p>Price: $100</p>
    <button> Add to Cart </button>
  </div>
  <p></p>
  <div class="column">
    <img src = /static/images/tshirt.jpg width =100px>
    <h2>T-Shirt</h2>
    <p>Rating: 10/10</p>
    <p>Price: $10</p>
    <button> Add to Cart </button>
  </div>
  <p></p>
  <div class="column">
    <img src = /static/images/clapped.jpg width =100px>
    <h2>Used Shirt</h2>
    <p>Rating: 1/10</p>
    <p>Price: $1000</p>
    <button> Add to Cart </button>
  </div> -->

  {% endblock content %}