{% extends "base.html" %}

{% block content %}
<h2>Wishlist</h2>
<div class="column" >
    <img src = /static/images/polo.jpg width =100px>
    <h2>Polo Shirt</h2>
    <p>Rating: 5/10</p>
    <p>Price: $100</p>
    <button> Add to Cart </button>
    <button> Remove from Wishlist </button>
  </div>
  <p></p>

  <p></p>
  <div class="column">
    <img src = /static/images/clapped.jpg width =100px>
    <h2>Used Shirt</h2>
    <p>Rating: 1/10</p>
    <p>Price: $1000</p>
    <button> Add to Cart </button>
    <button> Remove from Wishlist </button>
  </div>


{% endblock content %}