{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>

{% for item in items %}
<ui>
    <div class="column">
        <form action="?itemname={{item.itemname}}&itemprice={{item.itemprice}}&itemimage={{item.image}}&itemsize={{item.itemsize}}"
              method="POST">

            <img src={{item.image}} width=100px>
            <h2>{{item.itemname}}</h2>
            <p>Size: {{item.itemsize}}</p>
            <p>Price: ${{item.itemprice}}</p>
            <div>
                <label>Quantity: </label><input type="number" name="quantity" value=1 min="1"></label>
            </div>
            <button type="submit"
                    name="addtocart"
                    class="btn"
                    style="background-color: gray;"
                    value="1">
                Add to Cart
            </button>
            <button type="submit"
                    name="removefromwishlist"
                    class="btn"
                    value="1"
                    style="background-color: gray;">
                Remove
            </button>
        </form>
    </div>
</ui>
{% endfor %}

{% endblock content %}